h1{
    font-size: 30px;
    text-align: center;
    color: #de7471
    }

h2{
    color : white;
}
    
p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color : white;
}
    
body {
    background-color: #b7b7b7;
}

.lien{
    margin-left : 475px;

}

.bordure{
    border : solid;
    border-color : white;
    background-color: white;
    opacity : 0.5;
    height : 250px;
    margin-top : 125px;
}

.block{
    display : flex;
}

.b1{
    border : solid;
    border-color : black;
    background-color: black;
    opacity : 0.5;
    height : 240px;
}


.b2{
    border : solid;
    border-color : black;
    background-color: black;
    opacity : 0.5;
    height : 240px;
    margin-left : 30px;
}

.b3{
    border : solid;
    border-color : black;
    background-color: black;
    opacity : 0.5;
    height : 240px;
    margin-left : 30px;
}
